html {
  height: 100%;
  width: 100%;
}
body {
    background-color: #1c1c1c; /* Dark grey background color */
    color: #8000ff; /* Green text color */
    font-family: Arial, sans-serif; /* Change the font family as per your preference */
}

/* Additional styles for headings */
h1, h2, h3, h4, h5, h6 {
    color: #bb00ff; /* Green color for headings */
}

/* Styling links */
a {
    color: #700099; /* Green color for links */
    text-decoration: none; /* Remove underline from links if desired */
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}

/* Styling for paragraphs */
p {
    line-height: 1.5; /* Adjust line height for better readability */
    margin-bottom: 10px; /* Add margin between paragraphs */
}
#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .6vw;
    padding-bottom: 5vw;

}

#games img {    
    height: 9vw;
    width: 9vw;
    border-radius: 1vw;
    margin: .5vw;
    cursor: pointer;
    user-select: none;
    transition: transform .2s;
}

#games img:hover {
    transform: scale(1.01);
}
.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: #b500c2;
    text-align: center ;
    font-weight: bolder;
    font-color: #b500c2
}
img {    
  height: 11vw;
  width: 11vw;
  border-radius: 1vw;
  margin: .5vw;
  cursor: pointer;
  user-select: none;
  transition: transform .2s;
  border-color: lime;

     /* Add a black background color to the top navigation */
     .topnav {
       background-color: black;
       overflow: hidden;
     }

     /* Style the links inside the navigation bar */
     .topnav a {
       float: left;
       color: #f2f2f2;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
     }

     /* Change the color of links on hover */
     .topnav a:hover {
       background-color: #ddd;
       color: black;
     }

     /* Add a color to the active/current link */
     .topnav a.active {
       background-color: #480505;
       color: white;